@import url('https://fonts.googleapis.com/css2?family=Advent+Pro');

.main-container-AboutMe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.content {
    padding-top: 50px; /* Space between content */
    font-size: 1.5em;
    color: white;
}

.main-container-header {
    width: 100%;
}

.main-container-header h1 {
    padding-top: 8vh;
    font-size: 6rem;
    text-align: center;
    font-family: Advent Pro, sans-serif;
    color: white;
}

.main-container-AboutMe h1 {
    font-size: 5rem;
    text-align: center;
    font-family: Advent Pro, sans-serif;
    color: white;
}

.AboutMe {
    left: 15vw;
    height: 60vh;
    width: 70vw;
    position: relative;
    display: flex;
    flex-direction: row;
    
}

.image-container-AboutMe {
    position: relative;
    width: 45%;
    height: 100%;
    background-color: rgba(58, 88, 97, 0.726);
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
}

.image-subcontainer-AboutMe {
    position: relative;
    width: 90%;
    height: 90%;
    border-left: 5%;
    border-top: 5%;
    left: 5%;
    top: 5%;
    overflow: hidden;
    /* background-color: rgba(45, 184, 40, 0.726); */
}

.image-subcontainer-AboutMe img {
    width: 100%;
    height: 100%;
    border-radius: 12%;
    object-fit: cover;
    background-color: rgba(31, 170, 27, 0.726);
    
}

.text-container-AboutMe {
    position: relative;
    width: 67%;
    height: 100%;

    background-color: rgba(58, 88, 97, 0.726); /*rgba(71, 149, 173, 0.801); */
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.aboutMe-text-outer {
    position: relative;
    width: 90%;
    height: 85%;
    border-left: 5%;
    border-top: 7.5%;
    left: 5%;
    top: 7.5%;
    overflow: auto;
    scrollbar-width: thin;
}

.aboutMe-text {
    width: 98%;
    border-right: 5%;
    font-family: sans-serif;
    color: white;
    font-size: 1.5rem;
    
}

.aboutMe-text h2 {
    font-size: 2.25rem;
    padding-bottom: 2vh;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.295);
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    padding: 0.4em 0.8em;
    border-radius: 50%;
    border: none;
    transition: background 0.2s;
}

.nav-button.left {
    left: 5px;
}

.nav-button.right {
    right: 5px;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel-wrapper {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-wrapper img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12%;
}

.side-button{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: background 0.2s;
}

.arrow-2 {
  border: solid rgba(5, 5, 5, 0.616);
  border-width: 0 0.4vw 0.4vw 0;
  display: inline-block;
  padding: 0.7vw;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0);
}

.leftArrow{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    
}

.rightArrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftB{
    left: 1%;
}

.rightB{
    left: 89%;
}

.arrow-2:hover {
  border: solid rgba(44, 168, 168, 0.616);
  border-width: 0 0.4vw 0.4vw 0;
  display: inline-block;
  padding: 0.7vw;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s;

}