img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.animated-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    z-index: -1; 
    background-image: url('../images/sprites/forest.png');
    background-repeat: no-repeat;
    background-size: 900%; /* adjust depending on your sprite sheet */
    background-position: 37.5% 0;
    animation: sprite-animation 0.9s steps(9) infinite; 
  }
  
  /* Keyframes to shift the background position */
  @keyframes sprite-animation {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 112.5% 0; /* Adjust based on total width of your sprite sheet */
    }
  }