@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');

.main {
    width: 100%;
    min-height: 190vh; 
    scrollbar-width: thin;
    font-size: 2rem;
    /* background-color: rgb(FFFFFF, 0.5); */
    position: relative;
}

.name-container {
    padding-top: 30vh;
    width: 100%;
}

.name-container h1 {
    font-size: 6rem;
    text-align: center;
    font-family: Didact Gothic, sans-serif;
    color: white;
}

.content {
    padding-top: 50px; /* Space between content */
    font-size: 1.5em;
    color: white;
    text-align: center;
}
