@import url('https://fonts.googleapis.com/css2?family=Advent Pro');

.main {
    font-size: 1rem;
    padding-top: 20vh;
    padding-bottom: 15%;
    width: 100%;
    min-height: 175vh; 
    /* background-color: rgb(FFFFFF, 0.5); */
    
}

.main h1 {
    font-size: 6rem;
    text-align: center;
    font-family: Advent Pro, sans-serif;
    color: white;
}

.content {
    padding-top: 50px; /* Space between content */
    font-size: 1.5em;
    color: white;
    text-align: center;
}
